/* Table of contents. */

/* Шрифты. */
/* Тело и основные правила. */
/* Ссылки. */
/* Главное меню. */
/* Main. */
/* Translations Section. */
/* Translations Header. */
/* Translations Table. */
/* Footer. */
/* Cards. */
/* Switch. */
/* Строки песен. */
/* Адаптивный дизайн. */





/* Тело и основные правила. */

html {
	height: 100%;
}

body {
	font-family: Roboto, sans-serif;
	font-size: 120%;
	color: black;
	margin: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
}

audio {
	max-width: 100%;
}

::selection {
	background-color: #616161;
	color: white;
}





/* Ссылки. */

/*.download_mp3
{
	font-size: 85%;
	color: #666;
	text-decoration: none;
}

.download_mp3::after
{
	content: ' (mp3)';
	font-size: 75%;
	color: #888;
}*/


.selected {
	/*border-bottom: 4px solid #42a5f5;*/
	/*color: rgba(34, 150, 243, 0.8) !important;*/
	background-color: #BDBDBD;
}

.selected:hover {
	background-color: #BDBDBD !important;
}





/* Главное меню. */

.header-main-menu {
	/*border-bottom: 1px solid #ebebeb;*/
	height: 64px;
	padding-left: 24px;
	background-color: #f5f5f5;

	/* Чтобы box-shadow заработал,
	   необходимо поставить z-index: 1,
	   position: relative */


	/* Тени с Google Developers */

	/*box-shadow: 0 0 4px rgba(0, 0, 0, .14),
				0 4px 8px rgba(0, 0, 0, .28);*/


	/* Тени с getmdl.io -> templates */

	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),
				0 3px 1px -2px rgba(0,0,0,.2),
				0 1px 5px 0 rgba(0,0,0,.12);


	z-index: 1;
	position: relative;
}

.header-main-menu a {
	text-decoration: none;
	color: black;
}

.header-main-menu a:active {
	color: black;
}

.header-main-menu a:visited {
	color: black;
}

.header-main-title {
	display: inline-block;
	padding: 21px 0;
}

.header-main-menu-tabs {
	display: inline-block;
	overflow: visible;
	margin-left: 48px;
}

.header-main-menu-tabs a {
	/*padding: 17px 18px;*/
	padding: 21px 18px;
	margin: 0 -2.5px;
	transition-property: background-color;
	transition-duration: .1s;
	transition-timing-function: ease-in-out;
}

.header-main-menu-tabs a:hover {
	/*border-bottom: 4px solid #42a5f5;*/
	background-color: #E0E0E0;
}





/* Main. */

main {
	/*background-color: #f7f7f7;*/
	background-color: #fafafa;
	flex: 1;
}





/* Translations Section. */

.translations-section {
	width: 85%;
	margin: 0 auto;
}





/* Translations Header. */

.translations-header {
	margin: 60px 0 40px;
}

.translations-header-h1,
.translations-header-h1-after {
	display: inline;
	font-weight: normal;
	color: #616161;
	margin: 0;
}

.translations-header-h1-after:after {
	content: ' -> ';
}

.translations-header-h1-after:last-child:after {
	content: none;
}

.translations-header-h2 {
	font-weight: normal;
	color: #616161;
	margin-top: 0;
	margin-bottom: 20px;
	font-size: 120%;
}




/* Translations Table. */

/*padding: 15px 20px 10px;*/

.card-translations-table-translation a {
	padding: 12px 18px 12px 18px;
	display: block;
	text-decoration: none;
	color: black;
}

.card-translations-table-translation a:visited {
	text-decoration: none;
	color: black;
}

.card-translations-table-translation tr {
	border-bottom: 1px solid rgba(0,0,0,.12);
}

.card-translations-table-translation th {

	/*font-weight: normal;*/
	/*color: #2296f3;*/

	padding: 20px 18px 20px 18px;
	text-align: left;
}

.song-name {
	font-size: 100%;
}

.song-artist {
	font-size: 85%;
}

.song-with-trans {
	float: right;
	vertical-align: middle;
	padding-left: 40px;
	opacity: .6;
}





/* Footer. */

footer {
	background-color: #424242;
	background-color: #e0e0e0;
	padding: 4em 0;
	text-align: center;
}

footer a {
	color: black;
	text-decoration: none;
}

footer p {
	margin: 0;
}





/* Cards. */

.card-image {
	margin-bottom: 50px;
}

.card-shadow {
	margin-bottom: 50px;
	background-color: white;
	border: 1px solid rgba(0,0,0,.12);
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),
				0 3px 1px -2px rgba(0,0,0,.2),
				0 1px 5px 0 rgba(0,0,0,.12);
}

.card-lyrics,
.card-doom-slayers-testament {
	padding: 15px 20px 10px;
	box-sizing: border-box;
}

.card-lyrics {
	width: 90%;
}

.card-doom-slayers-testament {
	width: 80%;
}

.card-translations-table-translation {
	width: 600px;
	border-collapse: collapse;
}

.card-translations-table-translation td {
		transition-property: background-color;
		transition-duration: .1s;
		transition-timing-function: ease-in-out;
}

.card-translations-table-translation td:hover {
	background-color: #eee;
}

#textWithoutTranslation {
	display: none;
}





/* Switch. */

/* The switch - the box around the slider. */
.switch {
	position: relative;
	top: 3px;
	display: inline-block;
	width: 46px;
	height: 20px;
	margin-right: 20px;
}

/* Hide default HTML checkbox. */
.switch input {
	display: none;
}

/* The slider. */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #757575;
	transition: .1s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 28px;
	width: 28px;
	left: -3px;
	bottom: -4px;
	background-color: #E0E0E0;
	transition: .1s;
}

input:checked + .slider {
	background-color: #BDBDBD;

}

input:checked + .slider:before {
	background-color: #E0E0E0;
	transform: translateX(23px);
}

input:focus + .slider:before {
	box-shadow: 0 0 0 20px rgba(0, 0, 0, .07);
}

/* Rounded sliders. */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.switch-text {
	margin-bottom: 40px;
}




/* Строки песен. */

/* Куплет - verse. */

.verse {
	margin: 30px 0;
}

.string-container {
	border-bottom: 1px solid #f5f5f5;
	padding: 5px;
}

.string-translation {
	border-left: 1px solid #f5f5f5;
	padding-left: 15px;
}





/* Адаптивный дизайн. */

@media only screen and (max-width: 1149px) {

	.card-lyrics,
	.card-doom-slayers-testament,
	.card-translations-table-translation {
		width: 100%;
	}

	.translations-section {
		width: 95%;
	}

	.string-translation {
		font-weight: bold;
		margin: 5px 0;
	}

	.translations-header {
		margin: 40px 0 40px;
	}

	.header-main-menu {
		display: none;
	}

	/* The container <div> - needed to position the dropdown content. */
	.menu-dropdown {
		position: relative;
		display: inline;
		background-color: #f5f5f5;
		border-bottom: 1px solid #ebebeb;
		box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),
					0 3px 1px -2px rgba(0,0,0,.2),
					0 1px 5px 0 rgba(0,0,0,.12);
	}

	/* Dropdown Button. */
	.dropdown-button {
		background: url(../icons/menu-lines.png) center no-repeat;
		background-size: 75%;
		padding: 32px;
		margin-right: 24px;
		border: none;
		cursor: pointer;
		float: right;
		outline: 0;
	}
	
	/* Dropdown Content (Hidden by Default). */
	.dropdown-content {
		display: none;
		position: absolute;
		background-color: #f5f5f5;
		width: 100%;
		box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),
					0 3px 1px -2px rgba(0,0,0,.2),
					0 3px 5px 0 rgba(0,0,0,.12);
		z-index: 1;
	}
	
	/* Links inside the dropdown. */
	.dropdown-content a:first-child {
		border-top: 1px solid #ebebeb;
	}

	.dropdown-content a {
		color: black;
		text-decoration: none;
		display: block;
		padding: 20px 0;
		margin: 0;
		text-align: center;
		border-bottom: 1px solid #E0E0E0;

		transition-property: background-color;
		transition-duration: .1s;
		transition-timing-function: ease-in-out;
	}

	.dropdown-content a:hover {
		background-color: #E0E0E0;
	}
	
	/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button). */
	.show {
		display: block;
	}

	.header-main-title-media {
		display: inline-block;
		color: black;
		text-align: center;
		padding: 20px 24px;
	}
}

@media only screen and (min-width: 1150px) {

	/* При наведении на строку делаем эффект. Работает, только если min-width: 1150px; */

	/*.string-container:hover {
		background-color: #e0e0e0;
		border-radius: 2px;
	}*/
	
	.string-original {
		float: left;
	}
	
	.string-translation {
		margin-left: 50%;
	}

	#textWithoutTranslation > .card-lyrics {
		width: 55%;
	}

	.menu-dropdown {
		display: none;
	}

}






#toTopButton {
	display: none;
	position: fixed;
	bottom: 25px;
	right: 25px;
	z-index: 3;
	border: none;
	outline: none;
	background-color: #424242;
	color: white;
	cursor: pointer;
	width: 50px;
	height: 50px;
	text-align: center;
	border-radius: 50%;
	box-shadow: 0 3px 15px rgba(0, 0, 0, .25);
}

#toTopButton:hover {
	background-color: #616161;
}

#toTopButton:after {
	content: '';
	width: 39px;
	height: 46px;
	display: block;
}

#toTopButton:after {
	background: url(../icons/ic_expand_less_white_48px.svg) center no-repeat;
	background-size: 90%;
}